$toolbarPadding: 8px;

#usm-toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000000;
    background: rgba(18, 42, 64, 0.9);
    padding: $toolbarPadding;
    color: #f5f5f5;
    font-size: 13px;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 16px;
    font-family: sans-serif;
    box-sizing: content-box;

    .usm-toolbar-toggler {
        margin: -1 * $toolbarPadding;
        padding: 0 $toolbarPadding;
        border-right: 1px solid white;
        line-height: 48px;
        background: rgba(18, 42, 64, 0.4);

        &:hover {
            background: rgba(255, 255, 255, 0.3);
            cursor: pointer;
        }

        svg.bi {
            width: 1em;
            height: 1em;
        }
    }

    .icon-open {
        display: none;
    }

    &.loading {
        display: none;
    }

    &:not(.minified) {
        padding-right: 12px;
    }

    &.minified {
        width: auto;

        >*:not(.show-minified) {
            display: none;
        }

        .icon-open {
            display: initial;
        }

        .icon-close {
            display: none;
        }
    }

    .usm-toolbar-separator {
        background-color: white;
        height: 22px;
        width: 1px;
    }

    p {
        margin-bottom: 0;
        margin-top: 0;
    }

    a {
        display: block;
        cursor: pointer;
        text-decoration: underline;

        &,
        &:hover,
        &:active,
        &:focus {
            color: inherit;
        }
    }

    .usm-toolbar-button,
    button {
        display: inline-flex;
        text-decoration: none;
        ;
        border-radius: 2px;
        background-color: #fff;
        border-color: #fff;
        color: #000;
        border-width: 1px;
        cursor: pointer;
        padding: 0.5em 1em;

        &:hover,
        &:focus {
            background: #eee;
            color: #000;
        }

        svg.bi {
            height: 1.1em;
            width: 1.1em;
            margin-top: 0.2em;
            margin-right: 0.5em;
        }

        &.button-save {
            background: hsl(106, 68%, 40%);
            color: #fff;

            &:hover,
            &:focus {
                background: hsl(106, 68%, 34%);
            }
        }

        &.button-cancel {
            background: hsl(12, 68%, 40%);
            color: #fff;

            &:hover,
            &:focus {
                background: hsl(12, 68%, 34%);
            }
        }
    }
}