// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../vendor/bower-asset/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// Toggle global options
// $enable-shadows: true;
// $enable-rounded: false;
$enable-transitions: false; // Maybe...

// Customize some defaults
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 0.9375rem;

// Default variable overrides
$blue: #337ab7; //also Primary
$body-color: #343a40; //which is $gray-800

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../vendor/bower-asset/bootstrap/scss/variables";
@import "../../vendor/bower-asset/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
// ..

// 5. Include remainder of required parts
@import "../../vendor/bower-asset/bootstrap/scss/maps";
@import "../../vendor/bower-asset/bootstrap/scss/mixins";
@import "../../vendor/bower-asset/bootstrap/scss/utilities";

// 6. Optionally include any other parts as needed
@import "../../vendor/bower-asset/bootstrap/scss/root";
@import "../../vendor/bower-asset/bootstrap/scss/reboot";
@import "../../vendor/bower-asset/bootstrap/scss/type";
@import "../../vendor/bower-asset/bootstrap/scss/images";
@import "../../vendor/bower-asset/bootstrap/scss/containers";
@import "../../vendor/bower-asset/bootstrap/scss/grid";
@import "../../vendor/bower-asset/bootstrap/scss/tables";
@import "../../vendor/bower-asset/bootstrap/scss/forms";
@import "../../vendor/bower-asset/bootstrap/scss/buttons";
@import "../../vendor/bower-asset/bootstrap/scss/transitions";
@import "../../vendor/bower-asset/bootstrap/scss/dropdown";
@import "../../vendor/bower-asset/bootstrap/scss/button-group";
@import "../../vendor/bower-asset/bootstrap/scss/nav";
@import "../../vendor/bower-asset/bootstrap/scss/navbar"; // Requires nav
@import "../../vendor/bower-asset/bootstrap/scss/card";
@import "../../vendor/bower-asset/bootstrap/scss/accordion";
@import "../../vendor/bower-asset/bootstrap/scss/breadcrumb";
@import "../../vendor/bower-asset/bootstrap/scss/pagination";
@import "../../vendor/bower-asset/bootstrap/scss/badge";
@import "../../vendor/bower-asset/bootstrap/scss/alert";
@import "../../vendor/bower-asset/bootstrap/scss/progress";
@import "../../vendor/bower-asset/bootstrap/scss/list-group";
@import "../../vendor/bower-asset/bootstrap/scss/close";
@import "../../vendor/bower-asset/bootstrap/scss/toasts";
@import "../../vendor/bower-asset/bootstrap/scss/modal"; // Requires transitions
@import "../../vendor/bower-asset/bootstrap/scss/tooltip";
@import "../../vendor/bower-asset/bootstrap/scss/popover";
@import "../../vendor/bower-asset/bootstrap/scss/carousel";
@import "../../vendor/bower-asset/bootstrap/scss/spinners";
@import "../../vendor/bower-asset/bootstrap/scss/offcanvas"; // Requires transitions
@import "../../vendor/bower-asset/bootstrap/scss/placeholders";

@import "../../vendor/bower-asset/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../vendor/bower-asset/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
// ..