.content-toolbar {
    // This is borrowed from the .btn-toolbar in bootstrap, to properly vertically align the buttons
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin: 0 (-1.5 * $spacer) $spacer;
    padding: 0 (1.5 * $spacer) calc($spacer);
    border-bottom: 4px solid $light;
}