.home-page {
    .buttons {
        a {
            position: relative;

            width: 100%;
            height: 0;
            padding-top: 100%;

            >div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                padding: calc($spacer / 2);

                display: flex;
                flex-direction: column;
                justify-content: center;

                span {
                    vertical-align: middle;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }

        i {
            font-size: 3.5em;
            margin: 0 auto;
            display: block;
        }
    }
}