#menu-overview-page {
    .item-list {
        &:not(.root) {
            margin-left: 40px;

            &:not(:empty) {
                margin-left: 40px;
            }
        }
    }

    .media {
        background-color: $white;

        .badge {
            width: 7rem;
            margin: 0 0.25rem;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: middle;
        }
    }

    &:not(.sort-mode) {
        .media {
            border-bottom: 1px solid $secondary-border-subtle;
        }
    }
}

#sort-mode-control {
    border: 1px solid $secondary-border-subtle;
    border-radius: $border-radius;
    background-color: $white;
    padding: 6px 12px;

    &:hover {
        border-color: shade-color($secondary-border-subtle, $btn-hover-border-shade-amount);
        cursor: pointer;
    }
}

/* Element you drag-and-drop */
.gu-mirror {
    list-style: none;
}

.sort-mode .item-list,
.gu-mirror .item-list {
    min-height: 20px;
}

.sort-mode .item-list:empty {
    border: 1px dashed $secondary;
    border-radius: 5px;
}

.sort-mode .media,
.gu-mirror .media {
    border: 1px solid $secondary;
    border-radius: 5px;
    margin: 5px 0;
}

.sort-mode .media:hover {
    background: $light;
    cursor: move;
}