$sidebar-width: 300px;
$menu-toggle-btn-width: 40px;

#wrapper {
    min-height: 100vh;
}

#sidebar {
    width: $sidebar-width;
    position: relative;
    background: $primary;
    color: $white;

    a,
    a:hover,
    a:focus {
        text-decoration: none;
    }

    h1 {
        font-weight: 700;

        .title {
            color: $white;
            font-size: 2.3rem;
            display: block; //Required to outline this title with the title of the page
        }

        .subtitle {
            color: $white;
            font-size: 0.9rem;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .components {
        li {
            a {
                color: rgba(255, 255, 255, 0.6);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                &:hover {
                    color: $white;
                }
            }

            &.active>a {
                color: $white;
            }
        }
    }

    .menu-toggle {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: -1 * $menu-toggle-btn-width;

        .btn {
            width: $menu-toggle-btn-width;
            height: 50px;
            border-bottom-right-radius: calc($menu-toggle-btn-width / 2);
            box-shadow: none;
            border: none;

            i {
                width: 20px;
                height: 20px;
                margin-left: -5px;
            }
        }
    }

    &.active .menu-toggle i.icon-open,
    &:not(.active) .menu-toggle i.icon-close {
        display: none;
    }

    .footer {
        p {
            font-size: $font-size-sm;
            color: rgba(255, 255, 255, 0.6);

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            color: inherit;
            text-decoration: underline;

            &:hover,
            &:active {
                color: $white;
            }
        }
    }
}

#main {
    #top {
        h1 {
            font-size: 2.3rem;
        }

        .intro>*:last-child {
            margin-bottom: 0;
        }
    }

    .content {
        >*:first-child {
            margin-top: 0;
        }
    }
}

@include media-breakpoint-down(xl) {
    #sidebar {
        margin-left: -1 * $sidebar-width;

        &.active {
            margin-left: 0;
        }

        .menu-toggle {
            display: block;
        }
    }

    #top h1 {
        margin-left: ($menu-toggle-btn-width) !important;
    }
}