.container {
    width: auto;
    max-width: map-get($grid-breakpoints, "xl");
    margin-left: 0;
    margin-right: 0;

    @include media-breakpoint-up(xl) {
        padding-left: $spacer * 1.5;
        padding-right: $spacer * 1.5;
    }
}