.not-set {
    color: $danger;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px $body-color;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px $body-color;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: $secondary;
}

.error-summary {
    color: $danger;
    background: $danger-bg-subtle;
    border-left: 3px solid $danger-border-subtle;
    padding: 0.75rem 1rem;
    margin: 0 0 1rem 0;
}